@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('ProximaNovaSoft-Regular.woff2') format('woff2'),
        url('ProximaNovaSoft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Soft Sb';
    src: url('ProximaNovaSoft-Semibold.woff2') format('woff2'),
        url('ProximaNovaSoft-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('ProximaNovaSoft-Regular.woff2') format('woff2'),
        url('ProximaNovaSoft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('ProximaNovaSoft-Regular.woff2') format('woff2'),
        url('ProximaNovaSoft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('ProximaNovaSoft-Regular.woff2') format('woff2'),
        url('ProximaNovaSoft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('ProximaNovaSoft-Regular.woff2') format('woff2'),
        url('ProximaNovaSoft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('ProximaNovaSoft-Regular.woff2') format('woff2'),
        url('ProximaNovaSoft-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Soft Sb';
    src: url('ProximaNovaSoft-Semibold.woff2') format('woff2'),
        url('ProximaNovaSoft-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

